# /etc/systemd/system/py_ocr.service
Description=PyOCR Webserver Service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
EnvironmentFile=/etc/default/pyocrd
ExecStart=/bin/bash -c 'cd /home/pi/Kitchen/py-ocr;source env/bin/activate;python server.py'

[Install]
WantedBy=multi-user.target

# /etc/default/pyocrd
FLASK_PYOCR_SECRET_KEY="'bbkbaukh4324gjkgj3g21'"

# journalctl -u py_ocr -e -f
